@model LoginModel

@{
    ViewData["Title"] = "Login Page";
}

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}

<div class="text-center">
    @using (Html.BeginForm("Login", "Login", new { ReturnUrl = Context.Request.Query["ReturnUrl"] }, FormMethod.Post, true, new { name = "myForm", autocomplete = "off" }))
    {
        <div>
            <label>帳號：</label>@Html.TextBoxFor(m => m.Account)
        </div>
        <div>
            <label>密碼：</label>@Html.PasswordFor(m => m.Pd)
        </div>
        <div>
            <span asp-validation-for="Account" class="text-danger"></span>
        </div>
        <div>
            <span asp-validation-for="Pd" class="text-danger"></span>
        </div>
        <div>
            <button type="submit">提交</button>
        </div>
        <div style="color:red;">
            @ViewBag.errMsg
        </div>
    }
</div>
